:root
{
    --light-container: #FFF2CC;
    --light-boxes-aside: #FFD966;
    --light-minibox: #F4B183;
    --light-text: #DFA67B;
    --light-normal-text: black;

    --Dark-container: #1A120B;
    --Dark-boxes-aside: #3C2A21;
    --Dark-minibox: #D5CEA3;
    --Dark-text: #E5E5CB;
    --Dark-white: white;

}

.progress-maincontainer{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 50px
}

.progress-box{
    display: flex;
    flex-direction: column;
    background-color: var(--light-boxes-aside);
    width: 400px;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}

.progress-box h3{
    color: black;
}
.progress-container {
    margin-top: 10px;
    position: relative;
    width: 150px;
    height: 150px;
    background-color: var(--light-container);
    
    border-radius: 50%;
    display: flex;
  }
  
  .progress-container::before{
    content: "";
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 50%;
    background-color: var(--light-minibox);
    height: 120px;
    width: 120px;
    
    z-index: 2;
  }
  
  .search-count{
    position: relative;
    top: 40%;
    left: 40%;
    z-index: 999;
    font-size: 40px;
    font-weight: 600;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
  
  }
  
  .progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: all 1s;
    z-index: 1;
  }
  
  /* progress bar 2 */
  
  .progress-container2 {
    margin-top: 10px;
    position: relative;
    width: 150px;
    height: 150px;
    background-color: var(--light-container);
    border-radius: 50%;
    display: flex;
  }
  
  .progress-container2::before{
    content: "";
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    background-color: var(--light-minibox);
    z-index: 2;
  }
  
  .progress-bar2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: all 1s;
    z-index: 1;
  }

  .search-count{
    color: black;
  }
  